body{
  background: url(http://192.168.43.59/ac/assets/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  /* background: #17a2c3; */
  /* background-size: cover; */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17a2b8 ;
    color: white;
    text-align: center;
}
